<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appme.story">

    <!-- Baca peristiwa kalender dan informasi rahasia -->
    <uses-permission android:name="android.permission.READ_CALENDAR"/>

    <!-- Tambah atau modifikasi acara kalender dan kirim email ke tamu tanpa sepengetahuan host. -->
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>

    <!-- Ambil gambar dan video -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- baca data kontak. -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <!-- tulis data kontak -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>

    <!-- cari akun pada perangkat -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <!-- lokasi akurat (berbasis jaringan dan GPS) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- perkiraan lokasi (berbasis jaringan) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- ACCESS_BACKGROUND_LOCATION -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <!-- Rekam audio -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <!-- Baca status dan ID telp. -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- langsung panggil nomor telepon. -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <!-- ADD_VOICEMAIL -->
    <uses-permission android:name="android.permission.ADD_VOICEMAIL"/>

    <!-- lakukan/terima panggilan SIP -->
    <uses-permission android:name="android.permission.USE_SIP"/>

    <!-- READ_PHONE_NUMBERS -->
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/>

    <!-- ANSWER_PHONE_CALLS -->
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS"/>

    <!-- Baca log panggilan -->
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>

    <!-- Tulis log panggilan -->
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>

    <!-- menahan panggilan keluar. -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>

    <!-- Akses sensor tubuh (mis. monitor detak jantung) -->
    <uses-permission android:name="android.permission.BODY_SENSORS"/>

    <!-- ACTIVITY_RECOGNITION -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>

    <!-- Mengirim SMS -->
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <!-- terima SMS. -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>

    <!-- membaca pesan teks (SMS atau MMS) Anda -->
    <uses-permission android:name="android.permission.READ_SMS"/>

    <!-- terima WAP. -->
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH"/>

    <!-- terima MMS. -->
    <uses-permission android:name="android.permission.RECEIVE_MMS"/>

    <!-- baca konten kartu SD Anda -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- mengubah atau menghapus konten kartu SD Anda -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- REQUEST_INSTALL_PACKAGES -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <!-- tutup aplikasi lain -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <!-- ubah pengaturan sistem global. -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <!-- bridge -->
    <uses-permission android:name="com.appme.story.permissions.bridge"/>

    <!-- akses penuh Internet. -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- lihat status jaringan. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- lihat status Wi-Fi. -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!-- ganti konektivitas jaringan. -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <!-- sambung dan putuskan Wi-Fi -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <!-- Bolehkan penerimaan multicast Wi-Fi -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>

    <!-- kontrol penggetar. -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- cegah telepon tidur. -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <permission
        android:name="com.appme.story.permissions.bridge"
        android:permissionGroup="com.appme.story.permissions.bridge"
        android:protectionLevel="signature"/>

    <uses-permission android:name="com.appme.story.permissions.bridge"/>

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true"
        android:resizeableActivity="false">

        <activity
            android:name=".application.ApplicationActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Permission">

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name="com.appme.story.application.BridgeActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:permission="com.appme.story.permissions.bridge"
            android:process=":permission"
            android:theme="@style/Permission.Theme.Activity.Transparent"/>

        <service
            android:name="com.appme.story.service.NotifyListenerService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">

            <intent-filter>

                <action android:name="android.service.notification.NotificationListenerService"/>

            </intent-filter>

        </service>

        <service
            android:name="com.appme.story.engine.service.BridgeService"
            android:exported="false"
            android:permission="com.appme.story.permissions.bridge"
            android:process=":permission">

            <intent-filter>

                <action android:name="com.appme.story.permissions.bridge"/>

            </intent-filter>

        </service>
        
        <provider
            android:name="com.appme.story.engine.app.analytics.permission.FileProvider"
            android:authorities="com.appme.story.file.path.share"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/permission_file_paths"/>

        </provider>

        <meta-data
            android:name="android.max_aspect"
            android:value="4.0"/>

    </application>

</manifest>
